html, body{
    margin: 0;
    padding: 0;
}
nav{
    width: 80%;
    height: 10%;
    display: flex;
    display: block;
    position: sticky;
    color: rgba(28, 28, 84, 0.6);
}
.sidebarb{
    width: 20%;
    height: 100%;
    float: right;
    position: fixed;
}
.main{
    width: 80%;
    height: 100%;
    display: flex;
}
footer{
    border-top:2px solid black ;
    width: 80%;
    height: 20%;
}
