@media (max-width: 768px) {
    html, body{
        width: 768px;
    }
    nav ul a {
        padding: 0;
        padding-top: 7%;
        margin: 0;
      }
    nav ul{
        margin: 0;
        padding: 0;
    }
    nav{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .srodek{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .sidebar button{
        margin: 25%;
    }

    .sidebar {
      display: none;
      margin: 0;
      padding: 0;
    }
  
    .box {
      display: flex;
    }
  
    .left,
    .right {
      width: 100%;
    }
    .left{
        overflow-x: auto;
    }
    .move{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer{
        height: 75%;
    }
}
@media (max-width: 425px) {
    html, body{
        width: 425px;
    }
    nav ul a {
        padding: 0%;
        margin: 0;
      }
    nav ul{
        flex-direction: column;
    }
    nav{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .srodek{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sidebar button{
        margin: 10%;
        width: 35px;
        height: 35px;
    }

    .sidebar {
      display: none;
      margin: 0;
      padding: 0;
    }
  
    .box {
      display: flex;
    }
  
    .left,
    .right {
      width: 100%;
    }
    .left{
        overflow-x: auto;
    }
}
@media (max-width: 425px) {
    html, body{
        width: 425px;
    }
    nav ul a {
        font-size: 1.5rem;
      }
    nav ul{
        flex-direction: column;
    }
    nav{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .srodek{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sidebar button{
        margin: 10%;
        width: 35px;
        height: 35px;
    }

    .sidebar {
      display: none;
      margin: 0;
      padding: 0;
    }
  
    .box {
      display: flex;
    }
  
    .left,
    .right {
      width: 100%;
    }
    .left{
        overflow-x: auto;
    }
}
@media (max-width: 375px) {
    html, body{
        width: 375px;
    }
    nav ul a {
        font-size: 1.5rem;
      }
    nav ul{
        flex-direction: column;
    }
    nav{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .srodek{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sidebar button{
        margin: 10%;
        width: 25px;
        height: 25px;
        font-size: 0.5rem;
    }

    .sidebar {
      display: none;
      margin: 0;
      padding: 0;
    }
  
    .box {
      display: flex;
    }
  
    .left,
    .right {
      width: 100%;
    }
    .left{
        overflow-x: auto;
    }
}
html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
nav{
    position: sticky;
    justify-content: center;
    text-align: center;
    background-color: #1C1C54;
    width: 100%;
    height: calc(15% - 5px);
    border-bottom: #F8B486 5px solid;
}
main{
    width: 100%;
    height: 85%;
    float: left;
    display: flex;
}
.box{
    border-radius: 15px;
    margin: 5px;
    height: 500px;
    width: 70%;
    display: flex;
    margin-left: 15%;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 15px gainsboro;
}
div.leftext a{
    text-align: center;
    font-size: 100%;
    color: black;
    display: flex;
    justify-content: center;
}
h1{
    border-radius: 15px 0px 0px 0px;
    color: #F8B486;
    background-color: #1C1C54;
    margin: 0;
    padding: 20px;
    height: 40px;
    display: flex;
    justify-content: center;

}
.left{
    border-radius: 15px 0px 0px 15px;
    width: 70%;
    display: flex;
    justify-content: center;

}
.leftext{
    padding: 25px;
    
}
.logomain{
    max-width: 100%;
}
.right{
    background-color: #1C1C54;
    width: 50%;
    border-radius: 0px 15px 15px 0px;
    display: flex;

}
.boxlogo{
    margin-top: 10%;
}
.srodek{
    width: 90vw;
    overflow-y: auto;
}
#main{
    padding: 5%;
}
.sidebar{
    width: 10vw;
    height: 100%;
    float: right;
    background-color: #1C1C54;
    border-left: #F8B486 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
ul{
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    background: -webkit-linear-gradient(#F38281, #FCE28A);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
a{
    margin: 1px;
    padding: 30px;
    font-size: 30px;
    text-decoration: none;
    color: #F8B486;
}
footer{
    border-top: #F8B486 5px solid;
    background-color: #1C1C54;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}
.LogoPicture{
    display: flex;
    height: 100%;
    float: left;
}
.logo{
    display: flex;
}
button{
    margin-left: 40%;
    height: 50px;
    width: 50px;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
.yellow{
    background-color: yellow;
}
.cyan{
    background-color: cyan;
}
.godzinka{
    padding: 5%;
    padding-top: 0;
    display: flex;
    font-size: 3rem;
}
.boxlogo{
    width: 100%;
}

/*kontakt*/
iframe{
    margin-top: 2.5%;
    width: 100%;
    height: 35vh;
    border-radius: 16px;
}

    .contactTypes{
        padding-top: 40px;
        display: flex;
    }
    .contactTypes ul{
        list-style: none;
        display: block;
    }
    .contactTypes ul li{
        font-size: 1.6em;
        display: flex;
        padding-bottom: 20px;
    }
    .contactTypes ul li img{
        height: 30px;
        width: auto;
        margin-right: 15px;
    }

    .formularz{
        margin: auto;
    }
    .contactForm input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    .contactForm input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    .contactForm input[type=submit] {
        color: white;
        background-color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .contactForm {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin: auto;
    }

    .form{
        display: flex;
        justify-content: space-between;
    }

    .form-group, .form-group-2{
        width: 49%;
    }

    .con{
        width: 25%;
    }



    #main{
        height: auto;
    }

    footer{
        display: flex;
        margin-top: auto;
    }
    

    .godzinka{
        color: antiquewhite;
    }
    
    .move a{
        color: wheat;
    } 
    .contactul li{
        color: black;
        -webkit-text-fill-color: initial;
    }