@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

@media screen and (max-width: 758px) {
    
}

*{
    font-family: 'Kode Mono', monospace;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
nav{
    position: sticky;
    justify-content: center;
    text-align: center;
    background-color: #1C1C54;
    width: 100%;
    height: calc(15% - 5px);
    border-bottom: #FCE28A 5px solid;
}
main{
    width: 100%;
    height: 85%;
    float: left;
    display: flex;
}
.srodek{
    width: 90vw;
    overflow-y: auto;
}
#main{
    padding: 5%;
}
.sidebar{
    width: 10vw;
    height: 100%;
    float: right;
    background-color: #1C1C54;
    border-left: #FCE28A 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navigation{
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    background: -webkit-linear-gradient(#F38281, #FCE28A);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
a{
    margin: 1px;
    padding: 30px;
    font-size: 30px;
    text-decoration: none;
}
footer{
    border-top: #FCE28A 5px solid;
    background-color: #1C1C54;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}
.LogoPicture{
    display: flex;
    height: 100%;
    float: left;
}
.logo{
    display: flex;
}
button{
    margin-left: 40%;
    height: 50px;
    width: 50px;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
.yellow{
    background-color: yellow;
}
.cyan{
    background-color: cyan;
}
.godzinka{
    display: flex;
    font-size: 3rem;
}


/* kontaktiren */
iframe{
    margin-top: 2.5%;
    width: 100%;
    height: 35vh;
    border-radius: 16px;
}

    .contactTypes{
        padding-top: 40px;
        display: flex;
    }
    .contactTypes ul{
        list-style: none;
        display: block;
    }
    .contactTypes ul li{
        font-size: 1.6em;
        display: flex;
        padding-bottom: 20px;
    }
    .contactTypes ul li img{
        height: 30px;
        width: auto;
        margin-right: 15px;
    }

    .formularz{
        margin: auto;
    }
    .contactForm input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    .contactForm input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    .contactForm input[type=submit] {
        color: white;
        background-color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .contactForm {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin: auto;
    }

    .form{
        display: flex;
        justify-content: space-between;
    }

    .form-group, .form-group-2{
        width: 49%;
    }

    .con{
        width: 25%;
    }



    #main{
        height: auto;
    }

    footer{
        display: flex;
        margin-top: auto;
    }
    

    .godzinka{
        color: antiquewhite;
    }
    
    .move a{
        color: wheat;
    }